<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select( :gender, options_for_select([["Male", "male"],["Female","female"]])) %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth, { :include_blank => false, :start_year => Time.now.year - 13, :end_year => 1950 , order: [:day, :month, :year] } %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :contact_phone %>
    <%= f.telephone_field :contact_phone %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :email_confirmation %>
    <%= f.text_field :email_confirmation %>
  </div>
  <div class="field">
    <%= f.hidden_field :school %>
  </div>
  <div class="field">
    <%= f.hidden_field :school_year %>
  </div>
  <div class="field">
    <%= f.hidden_field :school_next_year %>
  </div>
  <div class="field">
    <%= f.label :grade_last_season %>
    <%= f.select( :grade_last_season, options_for_select([["None","none"],["JuniorConvenor", "juniorcovenor"],["Year 3","year3"],["Year 4","year4"],["Year 5","year5"],["Year 6","year6"],["Year 7","year7"],["Year 8","year8"],["Junior Blaze","juniorblaze"],["Colts","colts"],["Premier","premier"]])) %>
  </div>
  <div class="field">
    <%= f.hidden_field :team_id_last_season %>
  </div>
  <div class="field">
    <%= f.hidden_field :senior, :value =>true %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.hidden_field :team_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :parent_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
