<%= form_for(@player) do |f| %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select( :gender, options_for_select([["Male", "male"],["Female","female"]])) %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth, { :include_blank => false, :start_year => Time.now.year - 13, :end_year => 1950 , order: [:day, :month, :year] } %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :contact_phone %>
    <%= f.telephone_field :contact_phone %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :email_confirmation %>
    <%= f.text_field :email_confirmation %>
  </div>
  <div class="field">
    <%= f.hidden_field :school %>
  </div>
  <div class="field">
    <%= f.hidden_field :school_year %>
  </div>
  <div class="field">
    <%= f.hidden_field :school_next_year %>
  </div>
  <div class="field">
    <%= f.label :grade_last_season %>
    <%=  f.select :grade_id, Grade.all.collect {|p| [ p.grade_name, p.id ] },{ :prompt => "Please select"} %>
  </div>
  <div class="field">
    <%= f.label :Grade %>
    <%= f.select :grade_id, Grade.all.collect {|p| [ p.grade_name, p.id ] },{ :prompt => "Please select"} %>
  </div>
  <div class="field">
    <%= f.hidden_field :team_id_last_season %>
  </div>
  <div class="field">
    <%= f.hidden_field :senior, :value =>true %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.hidden_field :team_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :parent_id %>
  </div>

  <% if @player.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions" id="regbtn">
    <%= f.submit "Confirm" %>
  </div>

<% end %>