<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Surname</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>Address</th>
      <th>Contact phone</th>
      <th>Email</th>
      <th>School year</th>
      <th>School next year</th>
      <th>Grade last season</th>
      <th>Team id last season</th>
      <th>Senior</th>
      <th>Notes</th>
      <th>Team</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.first_name %></td>
        <td><%= player.surname %></td>
        <td><%= player.gender %></td>
        <td><%= player.date_of_birth %></td>
        <td><%= player.address %></td>
        <td><%= player.contact_phone %></td>
        <td><%= player.email %></td>
        <td><%= player.school_year %></td>
        <td><%= player.school_next_year %></td>
        <td><%= player.grade_last_season %></td>
        <td><%= player.team_id_last_season %></td>
        <td><%= player.senior %></td>
        <td><%= player.notes %></td>
        <td><%= player.try(:team).try(:name) %></td>
        <td><%= player.try(:parent).try(:p_first_name) %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
