<div class="search_players">
    <h3>~ search player ~</h3>
    
	<%= search_form_for @search do |f| %><%= f.condition_fields do |c| %>
	<table class="search_players_table"><tr>
		<td><%= c.attribute_fields do |a| %><%= a.attribute_select %><% end %></td>
		<td><%= c.predicate_select %><%= c.value_fields do |v| %></td>
		<td><%= v.text_field :value %><% end %><% end %></td>
		<td><%= f.submit "Search for a Player" %><% end %></td>
	</tr></table>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link(@search, :first_name, "first name") %></th>
      <th><%= sort_link(@search, :surname, "surname") %></th>
      <th><%= sort_link(@search, :gender , "gender") %></th>
<!--      <th><%= sort_link(@search, :date_of_birth , "Date of birth") %></th>-->
      <th>address</th>
      <th>contact phone</th>
      <th>email</th>
<!--
      <th><%= sort_link(@search, :school_year , "School year") %></th>
      <th><%= sort_link(@search, :school_next_year , "School next year") %></th>
      <th><%= sort_link(@search, :grade_last_season , "Grade last season") %></th>
      <th><%= sort_link(@search, :team_id_last_season , "Team id last season") %></th>
      <th><%= sort_link(@search, :senior , "Senior") %></th>
      <th>Notes</th>
      <th><%= sort_link(@search, :team , "Team") %></th>
      <th><%= sort_link(@search, :parent , "Parent") %></th>
      <th colspan="3"></th>
-->
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.first_name %></td>
        <td><%= player.surname %></td>
<!--        <td><%= player.gender %></td>-->
        <td><%= player.date_of_birth %></td>
        <td><%= player.address %></td>
        <td><%= player.contact_phone %></td>
        <td><%= player.email %></td>
<!--
        <td><%= player.school_year %></td>
        <td><%= player.school_next_year %></td>
        <td><%= player.grade_last_season %></td>
        <td><%= player.team_id_last_season %></td>
        <td><%= player.senior %></td>
        <td><%= player.notes %></td>
        <td><%= player.try(:team).try(:name) %></td>
        <td><%= player.try(:parent).try(:p_first_name) %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
	
