<script>
	$('div.links').click(function(){ alert("HI!"); });
</script>

<%= form_for (@parent) do |f| %>

<p align="center">Primary contact person</p>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :p_first_name %>
  </div>
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :p_surname %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select( :p_gender, options_for_select([["Male", "male"],["Female","female"]]),:class => "p_genderSelect") %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :p_address %>
  </div>
  <div class="field">
    <%= f.label :home_phone %>
    <%= f.number_field :p_home_phone %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone %>
    <%= f.number_field :p_mobile_phone %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :p_email %>
  </div>
<% if false %>
  <div class="field">
    <%= f.label :email_confirmation %>
    <%= f.text_field :p_email_confirmation %>
  </div>
<% end %>

<br><br>
<p align="center">Secondary contact person</p>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :s_first_name %>
  </div>
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :s_surname %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select( :s_gender, options_for_select([["Male", "male"],["Female","female"]]),:class => "s_genderSelect") %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :s_address %>
  </div>
  <div class="field">
    <%= f.label :home_phone %>
    <%= f.number_field :s_home_phone %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone %>
    <%= f.number_field :s_mobile_phone %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :s_email %>
  </div>
<% if false %>
<div class="field">
    <%= f.label :email_confirmation %>
    <%= f.text_field :s_email_confirmation %>
  </div>
<% end %>
  <div class="field">
    <%= f.hidden_field :coach_id %>
  </div>
<div id="player">
  <%= f.fields_for :players do |player| %>
	<%= render "player_fields", :f => player %>
<% end %>
    <div class="links">
        <br><div class="button" id="regbtn"><%= link_to_add_association 'Add a Player', f, :players %></div><br><br>
    </div>
</div>

  <% if @parent.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions" id="regbtn">
	<%= f.submit "Confirm" %>
  </div>

<% end %>