<div class="nested-fields">
<div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select( :gender, options_for_select([["Male", "male"],["Female","female"]])) %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth, { :include_blank => false, :start_year => Time.now.year - 4, :end_year => Time.now.year - 12, order: [:day, :month, :year] }  %>
  </div>
  <div class="field">
    <%= f.hidden_field :address, :value => "a" %>
  </div>
  <div class="field">
    <%= f.hidden_field :contact_phone, :value => 0 %>
  </div>
  <div class="field">
    <%= f.hidden_field :email, :value => "1"  %>
  </div>
  <div class="field">
    <%= f.hidden_field :email_confirmation, :value => "1"  %>
  </div>
  <div class="field">
    <%= f.label :school %>
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :school_year %>
    <%= f.number_field :school_year %>
  </div>
  <div class="field">
    <%= f.hidden_field :senior, :value =>false %>
  </div>
  <div class="field">
    <%= f.label :school_next_year %>
    <%= f.text_field :school_next_year %>
  </div>
  <div class="field">
    <%= f.label :grade_last_season %>
    <%= f.select( :grade_last_season, options_for_select([["None","none"],["JuniorConvenor", "juniorcovenor"],["Year 3","year3"],["Year 4","year4"],["Year 5","year5"],["Year 6","year6"],["Year 7","year7"],["Year 8","year8"],["Junior Blaze","juniorblaze"],["Colts","colts"],["Premier","premier"]])) %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
<br><div class="button" id="regbtn"><%= link_to_remove_association "Remove this player", f %></div><br><br>
</div>