<%= form_for(@coach) do |f| %>
  <% if @coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
      <% @coach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select( :gender, options_for_select([["Male", "male"],["Female","female"]])) %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :home_phone %>
    <%= f.telephone_field :home_phone %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone %>
    <%= f.telephone_field :mobile_phone %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :email_confirmation %>
    <%= f.text_field :email_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>