<div class="index">	

	<div class="search">
		<h3>~ search coach ~</h3>

		<%= search_form_for @search do |f| %><%= f.condition_fields do |c| %>
		<table class="search_table"><tr>
			<td><%= c.attribute_fields do |a| %><%= a.attribute_select %><% end %></td>
			<td><%= c.predicate_select %><%= c.value_fields do |v| %></td>
			<td><%= v.text_field :value %><% end %><% end %></td>
			<td><%= f.submit "Search for a Player" %><% end %></td>
		</tr></table>
	</div>


	<table class="table">
	  <thead>
		<tr>
		  <th><%= sort_link(@search, :first_name , "first name") %></th>
		  <th><%= sort_link(@search, :surname , "surname") %></th>
		  <th><%= sort_link(@search, :gender , "gender") %></th>
		  <th>address</th>
		  <th>home phone</th>
		  <th>mobile phone</th>
		  <th>email</th>
		  <th colspan="3"></th>
		</tr>
	  </thead>

	  <tbody>
		<% @coaches.each do |coach| %>
		  <tr>
			<td><%= coach.first_name %></td>
			<td><%= coach.surname %></td>
			<td><%= coach.gender %></td>
			<td><%= coach.address %></td>
			<td><%= coach.home_phone %></td>
			<td><%= coach.mobile_phone %></td>
			<td><%= coach.email %></td>
			<td><%= link_to 'Show', coach %></td>
			<td><%= link_to 'Edit', edit_coach_path(coach) %></td>
			<td><%= link_to 'Destroy', coach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>

	<br>

	
</div>