<div class="index">	
	
	<div class="search">
		<h3>~ search coach ~</h3>
		<%= search_form_for @search do |f| %>
			<table class="search_table"><tr>
				<td><%= f.label :first_name_or_surname_or_address_or_email_cont, "Keyword:" %></td>
				<td><%= f.text_field :first_name_or_surname_or_address_or_email_cont %></td>
				<td><%= f.submit "Search for a Coach" %></td>
			</tr></table>
		<% end %>
	</div>

	<table class="table">
	  <thead>
		<tr>
		  <th><%= sort_link(@search, :first_name , "first name") %></th>
		  <th><%= sort_link(@search, :surname , "surname") %></th>
		  <th>address</th>
		  <th>home phone</th>
		  <th>mobile phone</th>
		  <th>email</th>
		  <th>show details</th>
		</tr>
	  </thead>

	  <tbody>
		<% @coaches.each do |coach| %>
		  <tr>
			<td><%= coach.first_name %></td>
			<td><%= coach.surname %></td>
			<td><%= coach.address %></td>
			<td><%= coach.home_phone %></td>
			<td><%= coach.mobile_phone %></td>
			<td><%= coach.email %></td>
			<td><div class="button"><%= link_to 'Show Coach', coach %></div></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>

	<br>

	
</div>