<h3>~ <%= @coach.first_name %> <%= @coach.surname %> ~</h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Gender:</strong>
  <%= @coach.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @coach.address %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @coach.home_phone %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @coach.mobile_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coach.email %>
</p>

<br>

<br><div class="button"><%= link_to 'Edit Coach Information', edit_coach_path(@coach) %></div>
<br><div class="button"><%= link_to 'Delete Coach from Database', @coach, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<br><div class="button"><%= link_to 'Go Back', coaches_path %></div>
