<%= form_for(@payment) do |f| %>

  <div class="field">
    <%= f.label :season %>
    <%= f.number_field :season %>
  </div>
  <div class="field">
    <%= f.label :amount_due %>
    <%= f.text_field :amount_due %>
  </div>
  <div class="field">
    <%= f.label :amount_paid %>
    <%= f.text_field :amount_paid %>
  </div>
  <div class="field">
    <%= f.label :paid %>
    <%= f.check_box :paid %>
  </div>
  <div class="field">
    <%= f.label :player_id %>
    <%= f.collection_select :player_id, Player.all, :id, :first_name, prompt: true %>
  </div>

  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>