<div class="index">

	<h5>~ payments summary ~</h5>

	<table class="table">
	  <thead>
		<tr>
		  <th>player</th>
		  <th>season</th>
		  <th>amount due</th>
		  <th>amount paid</th>
		  <th>show details</th>
		</tr>
	  </thead>

	  <tbody>
		<% @payments.each do |payment| %>
		  <tr>
			<td><%= payment.player.name %></td>
			<td><%= payment.season %></td>
			<td>$<%= payment.amount_due %></td>
			<td>$<%= payment.amount_paid %></td>
			<td><div class="button"><%= link_to 'Payment Details', payment %></div></td>
		  </tr>
		<% end %>
		  <tr><td>
			<div class="button"><%= link_to 'Create New Payment', new_payment_path %></div>
		  </td><td colspan="4"></td></tr>
	  </tbody>
	</table>

	<br>

	<br>

</div>