<h3>~ <%= @payment.player_id %>, <%= @payment.season %> ~</h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Amount due:</strong>
  <%= @payment.amount_due %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @payment.amount_paid %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @payment.paid %>
</p>

<br>

<br><div class="button"><%= link_to 'Edit Payment Information', edit_payment_path(@payment) %></div>
<br><div class="button"><%= link_to 'Delete Payment from Database', @payment, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<br><div class="button"><%= link_to 'Go Back', payments_path %></div>
