<div class="index">

	<h5>~ manage teams ~</h5>

	<table class="table">
	  <thead>
		<tr>
		  <th><%= sort_link(@search, :name , "name") %></th>
		  <th><%= sort_link(@search, :grade , "grade") %></th>
		  <th><%= sort_link(@search, :coach , "coach") %></th>
		  <th>show details</th>
		</tr>
	  </thead>

	  <tbody>
		<% @teams.each do |team| %>
		  <tr>
			<td><%= team.name %></td>
			<td><%= team.try(:grade).try(:grade_name) %></td>
			<td><%= team.try(:coach).try(:first_name) %></td>
			<td><%= link_to 'Show Team', team %></td>
		  </tr>
		<% end %>
			<tr><td>
				<div class="button"><%= link_to 'Create New Team', new_team_path %></div>
			</td><td colspan="3"></td></tr>
	  </tbody>
	</table>

</div>