<head>

<script>
$(document).ready(function() {

	$('#generateTeams').click(function() {
	<%= generateTeams %>
	});

});
	</script>

</head>

<div class="index">

	<h5>~ generate teams ~</h5>

	<table class="table">
	  <thead>
		<tr>
		  <th><%= sort_link(@search, :name , "name") %></th>
		  <th><%= sort_link(@search, :grade , "grade") %></th>
		  <th><%= sort_link(@search, :coach , "coach") %></th>
		  <th>show details</th>
		</tr>
	  </thead>

	  <tbody>
		<% @teams.each do |team| %>
		  <tr>
			<td><%= team.name %></td>
			<td><%= team.try(:grade).try(:grade_name) %></td>
			<td><%= team.try(:coach).try(:first_name) %></td>
			<td><div class="button"><%= link_to 'Team Details', team %></div></td>
		  </tr>
		<% end %>
			<tr><td>
				<div class="button"><%= link_to 'Create New Team', new_team_path %></div></td>
			</td><td colspan="3"></td></tr>
	  </tbody>
	</table>
    
    <br><br>
    <div class="button" id="generateTeams" ><a>Click Me!</a></div>

</div>