<h3>~ <%= @team.name %> ~</h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @team.grade %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @team.coach_id %>
</p>

<br>

<br><div class="button"><%= link_to 'Edit Team Information', edit_team_path(@team) %></div>
<br><div class="button"><%= link_to 'Delete Team from Database', @team, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<br><div class="button"><%= link_to 'Go Back', teams_path %></div>