<h5>~ <%= @team.name %> ~</h5>

<p id="notice"><%= notice %></p>


<p>
  <strong>Grade:</strong>
  <%= @team.try(:grade).try(:grade_name) %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @team.try(:coach).try(:name) %>
</p>
  <strong>Players:</strong>
    <ul>
        <% @team.try(:players).each do |player| %>
            <li><%= player.name %></li>
        <% end %>
    </ul>

<br>

<br><div class="button"><%= link_to 'Edit Team Information', edit_team_path(@team) %></div>
<br><div class="button"><%= link_to 'Delete Team from Database', @team, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<br><div class="button"><%= link_to 'Go Back', teams_path %></div>