<div class="index">
		
	<h3>~ Prices ~</h3>

	<table class="table">
		<thead>
			<tr>
				<th>item</th>
				<th>price</th>
				<th>description</th>
				<th colspan="2">modify</th>
			</tr>
		</thead>
		
		<tbody>
			<% @costs.each do |cost| %>
			<tr>
				<td><%= cost.name %></td>
				<td>$<%= cost.price %>0</td>
				<td><%= cost.description %></td>
				<td><div class="button"><%= link_to 'Edit Item', edit_cost_path(cost) %></div></td>
				<td><div class="button"><%= link_to 'Remove Item', cost, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
			</tr>
			<% end %>
			<tr><td>
				<div class="button"><%= link_to 'Add New Item', new_cost_path %></div>
			</td><td colspan="4"></td></tr>
		</tbody>
	</table>
		
</div>