<div class="index">
		
	<h5>~ manage prices ~</h5>

	<table class="table">
		<thead>
			<tr>
				<th>item</th>
				<th>price</th>
				<th>description</th>
				<th>show details</th>
			</tr>
		</thead>
		
		<tbody>
			<% @costs.each do |cost| %>
			<tr>
				<td><%= cost.name %></td>
				<td>$<%= cost.price %>0</td>
				<td><%= cost.description %></td>
				<td><div class="button"><%= link_to 'Show Item', cost %></div></td>
			</tr>
			<% end %>
			<tr><td>
				<div class="button"><%= link_to 'Add New Item', new_cost_path %></div>
			</td><td colspan="3"></td></tr>
		</tbody>
	</table>
		
</div>