<h5>~ <%= @cost.name %> ~</h5>

<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @cost.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cost.price %>
</p>

<br>

<br><div class="button"><%= link_to 'Edit Item Information', edit_cost_path(@cost) %></div>
<br><div class="button"><%= link_to 'Delete Item from Database', @cost, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<br><div class="button"><%= link_to 'Go Back', costs_path %></div>
