<div class="index">

	<h5>~ manage grades ~</h5>

	<table class="table">
	  <thead>
		<tr>
		  <th><%= sort_link(@search, :grade_name , "name") %></th>
		  <th><%= sort_link(@search, :min_age, "min age") %></th>
		  <th><%= sort_link(@search, :max_age, "max age") %></th>
		  <th>show details</th>
		</tr>
	  </thead>

	  <tbody>
		<% @grades.each do |grade| %>
		  <tr>
			<td><%= grade.grade_name %></td>
			<td><%= grade.min_age %></td>
			<td><%= grade.max_age %></td>
			<td><div class="button"><%= link_to 'Grade Details', grade %></div></td>
		  </tr>
		<% end %>
			<tr><td>
				<div class="button"><%= link_to 'Create New Grade', new_grade_path %></div>
			</td><td colspan="3"></td></tr>
	  </tbody>
	</table>

</div>