<p id="notice"><%= notice %></p>

<p>
  <strong>P first name:</strong>
  <%= @parent.p_first_name %>
</p>

<p>
  <strong>P surname:</strong>
  <%= @parent.p_surname %>
</p>

<p>
  <strong>P gender:</strong>
  <%= @parent.p_gender %>
</p>

<p>
  <strong>P home phone:</strong>
  <%= @parent.p_home_phone %>
</p>

<p>
  <strong>P mobile:</strong>
  <%= @parent.p_mobile %>
</p>

<p>
  <strong>P email:</strong>
  <%= @parent.p_email %>
</p>

<p>
  <strong>S first name:</strong>
  <%= @parent.s_first_name %>
</p>

<p>
  <strong>S surname:</strong>
  <%= @parent.s_surname %>
</p>

<p>
  <strong>S gender:</strong>
  <%= @parent.s_gender %>
</p>

<p>
  <strong>S address:</strong>
  <%= @parent.s_address %>
</p>

<p>
  <strong>S home phone:</strong>
  <%= @parent.s_home_phone %>
</p>

<p>
  <strong>S mobile:</strong>
  <%= @parent.s_mobile %>
</p>

<p>
  <strong>S email:</strong>
  <%= @parent.s_email %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
