<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Surname</th>
      <th>Dob</th>
      <th>Address</th>
      <th>Home phone</th>
      <th>Email</th>
      <th>School</th>
      <th>Parent email</th>
      <th>School year</th>
      <th>Next year school</th>
      <th>Grade last season</th>
      <th>Senior</th>
      <th>Team</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.first_name %></td>
        <td><%= player.surname %></td>
        <td><%= player.dob %></td>
        <td><%= player.address %></td>
        <td><%= player.home_phone %></td>
        <td><%= player.email %></td>
        <td><%= player.school %></td>
        <td><%= player.parent_email %></td>
        <td><%= player.school_year %></td>
        <td><%= player.next_year_school %></td>
        <td><%= player.grade_last_season %></td>
        <td><%= player.senior %></td>
        <td><%= player.team %></td>
        <td><%= player.note %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
