<head>
<meta charset="utf-8">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<script>
      
      
$(document).ready(function(){      
    var allplayers = new Array();
    var grades = new Array();   

    var i = 0;
    function init(){
        /* Create array to hold team data */

        

        /* All players */
        grades = new Array();  
        <% @players.each do |p| %> 
            var player = new Object();
            player.id = <%= p.id %>;
            player.name = "<%= [p.first_name, p.surname].join(" ") %>"; 
            allplayers[i++] = player;
        <% end %>      

        i=0;

        var j = 0;
        var k = 0;

          

        <% @grades.each do |g| %> 
            var grade = new Object();
            grade.name = "<%= g.grade_name %>";
            var teams = new Array();    
            <% g.teams.each do |t| %>
                var team = new Object();
                team.name = "<%= t.name %>";
                var players = new Array();   
                <% t.players.each do |p| %>
                    var player = new Object();
                    player.id = <%= p.id %>;
                    player.name = "<%= [p.first_name, p.surname].join(" ") %>"; 
                    players[k++] = player; 
                <% end %>
                k = 0;
                team.players = players;
                team.id = "<%= t.id %>";
                teams[j++] = team;
            <% end %>
            j = 0;
            grade.teams = teams; 
            grades[i++] = grade;            
        <% end %>    
    }
          
    //i=0;
      
    function load_players(){
        $('#playerList ol').empty();
        for(var i=0; i<allplayers.length; i++){
            $('#playerList ol').append('<li class=playerDrag>' + allplayers[i].name + '</li>');    
        } 
        //Make each of the lines draggable
        $('#playerList li').draggable({
            appendTo: "body",
            helper: "clone"
        });
    }
    
    function load_team_nav(){
        $('#leftnav dl').empty();  
        for(var i=0; i<grades.length; i++){
            $('#leftnav dl').append('<dt>' + grades[i].name + '</dt>');   
            for(var j=0; j<grades[i].teams.length; j++){
               // console.log(grades[i].teams[j].name);
                $('#leftnav dl').append('<dd data-product="'+ i + ' ' + j + '">' + grades[i].teams[j].name + '</dd>');    
            }        
        }
    }
    
    init(); 
    load_players();   
    load_team_nav();   
    
    <% update_player(2, 1) %>
    init();   
    load_players();
    load_team_nav();
          
    function refresh_team(index){    
        var arr = index.split(" ");
        var team = grades[arr[0]].teams[arr[1]];
        
        $('#team1 ol').empty();
        for(i=0; i< team.players.length; i++){
            $('#team1 ol').append('<li class=playerDrag>' + team.players[i].name + '</li>');
        }
        //Make each of the lines draggable
        $('#team1 li').draggable({
            appendTo: "body",
            revert: "invalid"
        });
    }  
    
    function get_team_id(index){
        var arr = index.split(" ");
        var team = grades[arr[0]].teams[arr[1]];
        
        return team.id;
    }
    
    //This defines the droppable team title region
    $( "#team1 h2" ).droppable({
        accept: "#leftnav dd",
        drop: function( event, ui ) {
            //Drop checks and logic
            if($("#team2 h2").text() != ui.draggable.text()){
                $("#team1 h2").text( ui.draggable.text().toLowerCase() );
                $("#team1 h2").attr("id", get_team_id(ui.draggable.data("product")));
                refresh_team(ui.draggable.data("product"));
            }
        }
    });  
    
    //This function does the drop logic checks for the team ordered lists. 
    function team_drop_check( event, ui ){
        if (ui.draggable.hasClass("playerDrag")) {
            
        }
    }
    
    //This defines the droppable team player list region
    $( "#team1 ol" ).droppable({
        greedy: true,
        drop: function( event, ui ){
            //Drop checks and logic
            if (ui.draggable.hasClass("playerDrag")) {
                if ( !($("#team1 li:first").hasClass("placeholder"))){
                    $( "<li class 'playerDrag'></li>" ).text( ui.draggable.text() ).appendTo( this ).draggable({appendTo:"body"});   
                }
            }
        }
    })
    
    //This defines the draggables for the left column of team names
    $( "#leftnav dd" ).draggable({
      appendTo: "body",
      helper: "clone"
    });      

    
          
      });
  </script>
</head>
<body>
    <div id="container">
        <div id="leftnav">
            <h3>grades</h3>
                <dl>
                    Script will put grades and teams here
                </dl>
        </div>
        
        <div id="rightnav">
            <h3>players</h3>
            <%= search_form_for @search1 do |f| %>
                <%= f.label :first_name_or_surname_cont %>
                <%= f.search_field :first_name_or_surname_cont %>
                <%= f.submit %>
            <% end %>
        </div>
        
        <div class="content">
            <div class="teamsContent">
                <div class="innerTeam">
                    <div id="team1">
                        <h2>team 1</h2>
                        <div class="ui-widget-content">
                            <ol>
                                <li class="placeholder">Script will put player within the team here</li>
                            </ol>
                        </div>
                    </div> 
                </div>
            </div> 

            <div class="playersContent">
                <div id="playerList">
                    <h2>players</h2>
                    <div class="ui-widget-content">
                        <ol>
                            No players selected!
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
