<head>
  <meta charset="utf-8">
  <title>jQuery UI Droppable - Shopping Cart Demo</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <script type='text/javascript' src='jquery.facets.js'></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>

#container
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    color: #333;
    line-height: 130%;
}

#leftnav
{
    float: left;
    width: 160px;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 1em;
}

#rightnav
{
    float: right;
    width: 160px;
    height: 100%;
    margin: 0;
    padding: 1em;
}

.content
{
    margin-left: 200px;
    border-left: 1px solid gray;
    margin-right: 200px;
    border-right: 1px solid gray;
    padding: 1em;
    max-width: 75%;
    height: 100%;

}
.teamsContent
{
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
}
.playersContent
{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}
.innerTeam{
    position:relative;
    margin: auto;
    width: 100%;
}



      
h1 { padding: .2em; margin: 0; }
  #products { width:90%; margin: 0px auto;}

  #playerList  {padding-top: 40px;width:90%; margin: 0px auto;}
  /* style the list to maximize the droppable hitarea */
  #playerList ol { margin: 0; padding: 1em 0 1em 3em; }
      #team1  { padding-top: 40px;width:90%; margin: 0px auto;}
  /* style the list to maximize the droppable hitarea */
  #team1 ol { margin: 0; padding: 1em 0 1em 3em; }
      #team2  { padding-top: 40px;width:90%; margin: 0px auto;}
  /* style the list to maximize the droppable hitarea */
  #team2 ol { margin: 0; padding: 1em 0 1em 3em; }
  #product ol { margin: 0; padding: 1em 0 1em 3em; }

#leftnav p, #rightnav p { margin: 0 0 1em 0; }
#leftnav h2 { margin: 0 0 .5em 0; }
#leftnav {list-style-type: none;}
#leftnav dt { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
#rightnav h2 { margin: 0 0 .5em 0; }
  </style>
    
  <script>
      $(function() {
    $( "#leftnav dd" ).draggable({
      appendTo: "body",
      helper: "clone"
    });      
          
    $( "#playerList li" ).draggable({
      appendTo: "body",
      helper: "clone"
    });
          
    $( "#team1" ).droppable({
        accept: "#leftnav dd",
        drop: function( event, ui ) {
            if($("#team2 h1").text() != ui.draggable.text()){
                $("#team1 h1").text( ui.draggable.text() );
            }
        }
    });
    
    $( "#team2" ).droppable({
        accept: "#leftnav dd",
        drop: function( event, ui ) {
            if($("#team1 h1").text() != ui.draggable.text()){
                $("#team2 h1").text( ui.draggable.text() );
            }
        }
    });      
          
    // TEAM 1 HERE
    $( "#team1 li" ).draggable({
      appendTo: "body"
    });
    
    
    $( "#team1 ol" ).droppable({
      
      greedy: true,
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      accept: "#playerList li",
      accept: "#team2 li",
      accept: ":not(.ui-sortable-helper)",
      drop: function( event, ui ) {
          $( "<li></li>" ).text( ui.draggable.text() ).appendTo( this );
      }
    })
          
    // TEAM 2 HERE      
    
    $( "#team2 li" ).draggable({
      appendTo: "body"
    });
    
    
    $( "#team2 ol" ).droppable({
      
      greedy: true,
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      accept: "#playerList li",
      accept: "#team1 li",
      accept: ":not(.ui-sortable-helper)",
      drop: function( event, ui ) {
          if($(this).children(".playerLine").size() > 0) {
              for(i = 0; i < $(this).children(".playerLine").size(); i++){
                  if($(this).children(".playerLine").text() ==  $(ui.draggable.text())){
                        alert("cancel");    //Instead want to cancel dragging of item
                        return false;
                  }
              }
          }
          $(this).append("<li class='playerLine ui-draggable ui-draggable-handle' style='position: relative;'>"+ui.draggable.html()+"</li>").draggable({appendTo: ("body")});    
        }
    });
          
          
  });
  </script>
</head>

<body>
<div id="container">
    <div id="leftnav">
        <h2>Grades</h2>
        <dl>
            <% @grades.each do |grade| %>
                <dt><%= grade.grade_name %></dt>
                    <% grade.teams.each do |team| %>
                        <dd><input type="hidden" value="<%= team.id %>" id='h_v' class='h_v'><%= team.name %></dd>
                    <% end %>
            <% end %>
        </dl>
    </div>
    <div id="rightnav">
        <h2>Players</h2>
        
        <%= search_form_for @search1 do |f| %>

  <%= f.label :first_name_or_surname_cont %>
  <%= f.search_field :first_name_or_surname_cont %>

  <%= f.submit %>
<% end %>
    </div>
        <div class="content">
            <div class="teamsContent">
                <div class="innerTeam">
                    <div id="team1">
      <h1 class="ui-widget-header">Team 1</h1>
      <div class="ui-widget-content">
        <ol>
          <% @teams.first.players.each do |player| %>
                                    <li class="playerLine"><%= [player.first_name, player.surname].join(" ") %> </li>
          <% end %>
        </ol>
      </div>
    </div> 
                    
                </div>
                <div class="innerTeam">
                        <div id="team2">
      <h1 class="ui-widget-header">Team 2</h1>
      <div class="ui-widget-content">
        <ol>
            <% @teams.first.players.each do |player| %>
                                    <li class="playerLine"><%= [player.first_name, player.surname].join(" ") %> </li>
          <% end %>
        </ol>
      </div>
    </div> 
                </div>
                
            </div> 
        
        <div class="playersContent">
<div id="playerList">
      <h1 class="ui-widget-header">Players</h1>
      <div class="ui-widget-content">
        <ol>
            <% @players.each do |player| %>
                <li class="playerLine"><%= [player.first_name, player.surname].join(" ") %> </li>
            <% end %>
        </ol>
      </div>
            </div>
        </div>
        

           
        
    </div>
</div>
</body>
