<head>
  <meta charset="utf-8">
  <title>jQuery UI Droppable - Shopping Cart Demo</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <script type='text/javascript' src='jquery.facets.js'></script>
  <link rel="stylesheet" href="/resources/demos/style.css">

  <script>
      
      
$(document).ready(function(){      
    /* Create array to hold team data */
      
    var players = new Array();
      
    var i = 0;
    
    /* All players */
    
    <% @players.each do |p| %> 
        var player = new Object();
        player.id = <%= p.id %>;
        player.name = "<%= [p.first_name, p.surname].join(" ") %>"; 
        players[i++] = player;
    <% end %>      
        
    i=0;
    
    var j = 0;
    var k = 0;
    
    var grades = new Array();    
      
    <% @grades.each do |g| %> 
        var grade = new Object();
        grade.name = "<%= g.grade_name %>";
        var teams = new Array();    
        <% g.teams.each do |t| %>
            var team = new Object();
            team.name = "<%= t.name %>";
            var players = new Array();   
            <% t.players.each do |p| %>
                var player = new Object();
                player.id = <%= p.id %>;
                player.name = "<%= [p.first_name, p.surname].join(" ") %>"; 
                players[k++] = player; 
            <% end %>
            k = 0;
            team.players = players;
            teams[j++] = team;
        <% end %>
        j = 0;
        grade.teams = teams; 
        grades[i++] = grade;            
    <% end %>      
          
    i=0;
      
    function load_players(){
        $('#playerList ol').empty();
        for(var i=0; i<players.length; i++){
            $('#playerList ol').append('<li>' + players[i].name + '</li>');    
        } 
    }
    
    function load_team_nav(){
        $('#leftnav dl').empty();  
        for(var i=0; i<grades.length; i++){
            $('#leftnav dl').append('<dt>' + grades[i].name + '</dt>');   
            for(var j=0; j<grades[i].teams.length; j++){
               // console.log(grades[i].teams[j].name);
                $('#leftnav dl').append('<dd data-product="'+ i + ' ' + j + '">' + grades[i].teams[j].name + '</dd>');    
            }        
        }        
    }
    
    load_players();   
    load_team_nav();   
    
          
    function refresh_team(index){    
        var arr = index.split(" ");
        var team = grades[arr[0]].teams[arr[1]];
        
        $('#team1 ol').empty();
        for(i=0; i< team.players.length; i++){
            $('#team1 ol').append('<li>' + team.players[i].name + '</li>');
        }   
    }  
    
    
    
    $( "#team1 h2" ).droppable({
        accept: "#leftnav dd",
        drop: function( event, ui ) {
            if($("#team2 h2").text() != ui.draggable.text()){
                $("#team1 h2").text( ui.draggable.text().toLowerCase() );
                refresh_team(ui.draggable.data("product"));
            }
        }
    });  
    
    $( "#leftnav dd" ).draggable({
      appendTo: "body",
      helper: "clone"
    });      

    
          
      });
  </script>
</head>

<body>
<div id="container">
    
    
    
    
    <div id="leftnav">
        <h3>grades</h3>
        <dl>

        </dl>
    </div>
    
    
    
    
    <div id="rightnav">
        <h3>players</h3>

        <%= search_form_for @search1 do |f| %>

  <%= f.label :first_name_or_surname_cont %>
  <%= f.search_field :first_name_or_surname_cont %>

  <%= f.submit %>
<% end %>
    </div>
        <div class="content">
            <div class="teamsContent">
                <div class="innerTeam">
                    <div id="team1">
      <h2>team 1</h2>
      <div class="ui-widget-content">
        <ol>
          <% @teams.first.players.each do |player| %>
                <li class="playerLine"><%= [player.first_name, player.surname].join(" ") %> </li>
          <% end %>
        </ol>
      </div>
    </div> 

                </div>


            </div> 

        <div class="playersContent">
            <div id="playerList">
                <h2>players</h2>
                <div class="ui-widget-content">
                <ol>
                    No players selected!
                </ol>
            </div>
        </div>
    </div>




    </div>
</div>
</body>
